body{
    margin: 0;
    padding: 0.1px;
    box-sizing: border-box;
    
}
.firstcontener{
    background-color: rgb(29, 29, 29);
    width: 100%;
    height: 100vh;
    text-align: center;
    padding-top: 250px;
    position: relative;
}    
.title{
    color: white;
    font-size: 120px;
    font-family: 'Anton', sans-serif;
    letter-spacing: 8px;
}
.subtitle{
    color: white;
    font-family: monospace;
    border-right: 4px solid white;
    white-space: nowrap;
    width: 15ch;
    animation: typing 3s steps(14), blink .5s infinite step-end alternate;
    overflow: hidden;
    position: absolute;
    top: calc(45%);
    left: calc(45%);
    font-size: 18px;

}
@keyframes typing{
    from{width: 0px;}
}
@keyframes blink{
    50%{border-color: transparent;}
}